[Desktop Entry]
Version=1.0
Type=Application
Name=SolydX RPI configuration
Comment=Configure SolydX Raspberry PI
Exec=gksudo "xfce4-terminal -e raspi-config"
Icon=raspberry-pi-logo
Path=
Terminal=false
StartupNotify=false
Categories=System;

